

<div id='header'>
    <div id='header_content'>
        Tour for Google Glass
    </div>
</div>

<div class='section'>
    <div id='intro'>
       
       
       Life is meant to be explored.
       Places are meant to be discovered.
       
       Tour is the application we would make #ifihadglass
       
       
       <!--  The places we move through in our day to day lives are filled
        with rich history and stories. If we had Google Glass we would
        let you experience, discover, and really understand your surroundings
        and the world around you. We'd aim to connect you to the place you
        go in a way that's never been possible before. -->
       
    
    </div>
    
</div>



<div class='section'>
    <div class='section_image'>
        
    </div>
    <div class='section_label'>
        Tour your everyday.
    </div>
</div>

<div class='section'>
    <div class='section_image'>
        
    </div>
    <div class='section_label'>
        Tour the world.
    </div>
</div>

<div class='section'>
    <div class='section_image'>
        
    </div>
    <div class='section_label'>
        Tour time.
    </div>
</div>


<div class='section'>
    <div class='section_image'>
        
    </div>
    <div class='section_label'>
        Not just how we see the world.<br/> A marketplace of tours, stories and experiences.
    </div>
</div>

<div class='section'>
    <div class='section_image'>
        
    </div>
    <div class='section_label'>
        Making invisible histories and stories visible.
    </div>
</div>

<div>
    
</div>

