// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


//=====================================

body{
  font:100 30px "Roboto", Helvetica, Helvetica Neue, Arial;
  background-color: rgb(230, 230, 230);
  color: rgb(51, 51, 51);
  
  max-width:1600px;
}

#initial_overlay{
  background:#333;
  position:fixed;
  width:100%;
  height:100%; 
}

#header{
  background:white;
  width:100%;
  height:100%;
  font-size:3 0px;  
}

#header_content{
  padding:40px;
  
  text-align:center;
  
}

#logo{
  width:144px;
  height:44px;
  background: image-url('logo.png') top left no-repeat;
  background-size:cover;
  margin:0 auto;
  margin-bottom:20px;
}

.section{
  background: #fff;
  box-shadow: 0px 1px 6px #999;
  left: 0;
  list-style: none;
  margin: 0 0 57px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.section_image{
  height: auto !important;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  padding: 0 0 39.875%;
  position: relative;
  top: 0;
  width: 100%;
}

.section_label{
  font-size: 30px;
  font-weight: 100;
  line-height: 1.4;
  margin: 0;
  padding: 1.1em 0.75em 1.3em;
  position: relative;
  text-align: center;
}

#intro_section{
  box-shadow:none;
  background: #E2EBF2;
  margin-bottom:0px;
}

#intro{
  width:500px;
  margin:0 auto;
  padding-top:40px;
  padding-bottom:40px;
  font-size:20px;
  line-height:1.5;
  text-align:justify;
  

  
  h3{
    text-align:center;
    font-weight:300;
    font-size:24px;
    color:#375D81;
    margin-bottom:15px;
    margin-top:15px;
    height:36px;  
  }
}

.section_image{
  background:url('http://farm9.staticflickr.com/8456/8024038003_d275fd3c75_h.jpg') top left no-repeat;
  background-size:cover;
  width:100%;
  height:800px;
}

.section_interface{
  background:white;
  position:absolute;
  top:115px;
  left:50%;
  width:42%;
  height:60%;
  margin-left:-306px;
  //opacity: .85; /* layer alpha */
  //background-color: #e4dede; 
  background: image-url('marketplace/bg.png') top left no-repeat;

  div{
    width:100%;
    height:100%;
    background-size:100% 100%;
  }
}

.marketplace_0{
  background: image-url('marketplace/001.png') top left no-repeat;
}

.marketplace_1{
  background: image-url('marketplace/002.png') top left no-repeat;

}

.marketplace_2{
  background: image-url('marketplace/003.png') top left no-repeat;

}

.marketplace_3{
  background: image-url('marketplace/004.png') top left no-repeat;

}

#final_message{
  background:#f25050;
  padding:60px;
  color:white;
}

#final_message_content{
  margin:0 auto;
  width:800px;
  text-align:center;
  font-size:30px;
  line-height:1.5;
}

#final_share_buttons{
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  width:100%;
  
  .btn{
    background:#d94141;
    float:left;
    font-size:18px;
    padding:20px;
    font-weight:300;
    margin:0px 10px;
    width:200px;
    text-align:center;
  }
  
  
}

#final_contributors{
  font-size:16px;
  margin-top:20px;
  
  a{
    color:white;
    text-decoration:none;
    font-weight:200;
    &:hover{
      color:#c0d4e6;
    }
  }
}

