<!DOCTYPE html>
<html>
<head>
  <title>: Tour</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="/assets/favicon.png" rel="icon">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  <script>
      var cur_img = 0;
      var img_num = 4;
        
      $(document).ready(function(){
        
         setInterval(function() {
            var next_img = (cur_img === img_num - 1) ? 0 : cur_img + 1;
            console.log(cur_img);
            $('#marketplace_interface').fadeOut(1500, function(){
               $(this).removeClass().addClass('marketplace_' + cur_img.toString()).fadeIn('1500'); 
            });
            
            cur_img = next_img;
         }, 5000);
      });
  </script>
  
</head>
<body>
    
<%= yield %>

</body>
</html>
